@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100');

:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: "Roboto";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILITIES              */
/* ********************************** */
@media (min-height: 30em) {
	main {
		scroll-snap-type: y proximity;
		height: 100vh;
		overflow-y: auto;
		scroll-behavior: smooth;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */		
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	main::-webkit-scrollbar {
		display: none;
	}
	.child {
		height: 100vh;
	}
}
.child {
	scroll-snap-align: start;
	min-height: 100vh;	
}

.loader {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index: 9999; 
	display: flex;
	background: #fff;
	justify-content: center;
	align-items: center;
}
.loader img{
	width: 600px;
}
/* ********************************** */
/*               HEADER               */
/* ********************************** */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 2rem;
	position: fixed;
	z-index: 3;
	width: 100%;
}
header .logo {
	margin-top: 0px;
	margin-left: 30px;
}

header .logo .white{
	display: none;
}

header .logo .black{
	display: block;
}

header .logo svg{
	width: 140px;
	height:  auto;
}

header .menu-icon svg{
	width: 35px;
	height:  auto;
}

header .menu-icon {
	cursor: pointer;
	margin-right: 30px;
	display: flex;
    align-items: center;
}

header .menu-icon .section-title {
	font-size: 32px;
    padding: 0 2rem;
    line-height: 37px;
    font-weight: 400;
	text-transform: uppercase;
}

.rotate svg{
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.rotate svg line{
	stroke: #fff;
}

.active line {
	stroke: #fff;
}

/* ********************************** */
/*               HOME                 */
/* ********************************** */
.home {
	overflow: hidden;
	height: 100vh;
	position: relative;
}

.home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value for darkness */
	z-index: 0;
}

.home .logo-circle {
	display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
}
.home .logo-circle img{ 
	width: 250px;
    height: auto;
}
.home video {
	position: relative;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.menu {
	position: fixed;
  	top: -100%;
}

.menu.show {
	display: block;
	width: 100%;
    height: 100%;
    background: #000;
    font-family: 'Roboto';    
    padding: 20rem;
	transition: all 0.6s ease-in-out;
  	top: 0;
	z-index: 2;
}

.menu.show a {
	text-decoration: none;
}

.menu.show a li {
	color: #fff;
    cursor: pointer;
    list-style-type: none;
    line-height: 55px;
    padding: 2rem;
	font-size: 62px;
}

.menu.show .main-menu a li:hover {
	color: #FFD601;
	font-style: italic;
}
.menuItems {
	display: flex;
	justify-content: space-between;
}
.menuItems .social-buttons{
	display: flex;
	align-items: flex-end;
    justify-content: flex-end;
	flex-direction: column;
    row-gap: 2rem;
}
.menuItems .social-buttons div{
	display: flex;
}
.menuItems .social-buttons a{
	text-transform: uppercase;
	border-radius: 50px;
	border: 1px solid #FFD601;
	text-decoration: none;
	margin-left: 1rem;
	margin-right: 1rem;
    width: 180px;
    text-align: center;
	transition: 0.25s;
}

.menuItems .social-buttons a:hover, 
.menuItems .social-buttons a:focus{ 
	border-color: #fff;
  	color: #FFD601;
	box-shadow: inset 180px 0 0 0 #fff;
}

.menuItems .social-buttons a:hover li, a:focus li{ 
	color: #FFD601;
}

.menuItems .social-buttons a li{
	color: #fff;
    cursor: pointer;
    list-style-type: none;
    line-height: 28px;
    padding: 1.5rem;
	font-size: 24px;
}
.menu.show .contact-block {
	display: flex;
    height: 50%;
    justify-content: end;
    align-items: end;
}
.menu.show .contact-block a{
	width: 280px;
    text-align: center;
    transition: 0.25s;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px solid #fff;
    text-decoration: none;
}
.menu.show .contact-block a li{
	color: #fff;
    cursor: pointer;
    list-style-type: none;
    line-height: 28px;
    padding: 1.5rem 2rem;
    font-size: 32px;
}
.menu.show .contact-block a:hover, 
.menu.show .contact-block a:focus{ 
	box-shadow: inset 280px 0 0 0 #fff;
}
.menu.show .contact-block a:hover li, a:focus li{ 
	color: #FFD601;
}

/* ********************************** */
/*               ABOUT FIRST          */
/* ********************************** */
.about-first {
    height: 100vh;
	background-image: url('../images/about/first_back.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.about-first::before {
	content: ""; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%; 
	background-color: #70E1CC; 
	z-index: -1; 
}
.about-first .about-first-text{
	width: 100%;
    height: 100%;
    padding: 15rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
	row-gap: 2rem;
}
.about-first .about-first-text h1{
	font-weight: 800;
	font-size: 80px;
	line-height: 82px;
}

.about-first .about-first-text h4{
	font-weight: 400;
	font-size: 62px;
	line-height: 72px;
	text-transform: uppercase;
	padding: 0 18rem;
}
.about-first .about-first-button{
	display: flex;
    justify-content: center;
	padding-bottom: 6rem;
}

.about-first .about-first-button a{
	border: 1px solid #000;
    border-radius: 100%;
    padding: 3rem 4.25rem;
}

.about-first .about-first-text .newsletter-form {
	display: flex;
    justify-content: center;
    align-items: center;
}

.about-first .about-first-text .newsletter-form .form-control {
	position: relative;
    margin: 40px 0 20px;
    width: 550px;
  }
  
.about-first .about-first-text .newsletter-form  .form-control .input {
	border: 0;
    border-radius: 50px;
    display: block;
    font-family: "Roboto";
    font-size: 24px;
    height: 80px;
    padding: 1rem 4rem;
    width: 100%;
}
  
.about-first .about-first-text .newsletter-form .form-control .btn {
	background-color: #FB6C26;
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 32px;
    height: 80px;
    padding: 1rem 6rem;
    position: absolute;
    top: 0;
    right: 0;
	cursor: pointer;
}
.about-first-wrapper {
	display: flex;
    flex-direction: column;
    height: 100%;
}
.about-first-img {
	position: absolute;
    bottom: 25rem;
    width: 450px;
    left: 8rem;
}
.about-second-img {
	position: absolute;
    bottom: 30rem;
    right: 4rem;
    width: 450px;
}

/* ********************************** */
/*               ABOUT SECOND         */
/* ********************************** */
.about-second {
	background: #fff;
    height: 100vh;
	background-image: url('../images/about/second_back.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.about-second-wrapper {
	display: flex;
    flex-direction: column;
    height: 100%;
}
.about-second .about-second-text{
	width: 100%;
    height: 100%;
    padding: 15rem 50rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	row-gap: 2rem;
}
.about-second .about-second-text h1{
	font-weight: 700;
	font-size: 62px;
	line-height: 72px;
	text-transform: uppercase;
}
.about-second .about-second-text h4{
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	text-transform: uppercase;
}

.about-second .about-second-text p{
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: inherit;
}
.about-second .about-second-button{
	display: flex;
    justify-content: center;
	padding-bottom: 6rem;
}

.about-second .about-second-button a{
	border: 1px solid #000;
    border-radius: 100%;
    padding: 3rem 4.25rem;
}
.about-second .about-second-text .text-wrapper {
	display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 5rem 15rem 0;
}
.about-second-phone {
	position: absolute;
    bottom: 25rem;
    width: 350px;
    left: 15rem;
}
.about-second-tv {
	position: absolute;
    bottom: 40rem;
    right: 10rem;
    width: 350px;
}
/* ********************************** */
/*               ABOUT THIRD          */
/* ********************************** */
.about-third {
	background: #fff;
    height: 100vh;
	background-image: url('../images/about/third_back.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.about-third-wrapper {
	display: flex;
    flex-direction: column;
    height: 100%;
}
.about-third .about-third-text{
	width: 100%;
    height: 100%;
    padding: 15rem 50rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
	row-gap: 2rem;
}
.about-third .about-third-text h1{
	font-weight: 700;
	font-size: 62px;
	line-height: 72px;
	text-transform: uppercase;
}

.about-third .about-third-text p{
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;
	text-transform: inherit;
}
.about-third .about-third-button{
	display: flex;
    justify-content: center;
	padding-bottom: 4rem;
}

.about-third .about-third-button a{
	border: 1px solid #000;
    border-radius: 100%;
    padding: 4rem 3rem;
}
.about-third .about-third-text .text-wrapper {
	display: flex;
    flex-direction: column;
}
/*Carousel*/
.about-third .wrapper{
	display: flex;
	max-width: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 0 32rem 8rem;
  }
.about-third  .carousel__control {
	margin-top: -15px;
	top: 50%;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 1;
  }
.about-third .carousel__control--backward {
	left: 10rem;
  }
.about-third .carousel__control--forward {
	right: 10rem;
  }
.about-third .wrapper .carousel{
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
	display: flex;
  }
.about-third .carousel.dragging{
	cursor: grab;
	scroll-behavior: auto;
  }
.about-third .carousel.dragging img{
	pointer-events: none;
  }
.about-third .carousel img{
	height: 450px;
	object-fit: cover;
	user-select: none;
	width: 300px;
  }
.about-third .carousel img:first-child{
	margin-left: 0px;
  }
  
  @media screen and (max-width: 900px) {
	.about-third .carousel img{
	  width: calc(100% / 2);
	}
  }
  
  @media screen and (max-width: 550px) {
	.about-third .carousel img{
	  width: 100%;
	}
  }
.about-third .carousel .team-item{
	position: relative;
	cursor: pointer;
	margin-left: 20px;
}
.about-third .carousel .team-item .team-item-overlay::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
	border-radius: 20rem;
	transition: .5s ease;
	opacity: 0;
}
.about-third .carousel .team-item:hover .team-item-overlay::before {
	opacity: 1;
}
.about-third .carousel .team-item .team-more {
	position: absolute;
    bottom: 4rem;
    display: flex;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    color: #fff;
    font-size: 24px;
	font-weight: 700;
    transition: .5s ease;
    opacity: 0;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    white-space: normal;
    text-transform: uppercase;
    font-style: normal;
    row-gap: 1rem;
}
.about-third .carousel .team-item .team-more .position{
	font-size: 20px;
    font-weight: 400;
	padding: 0 1rem;
}
.about-third .carousel .team-item:hover .team-more{
	opacity: 1;
}
/* ********************************** */
/*       MEDIA QUERIES -- 1440px       */
/* ********************************** */
@media (max-width: 1440px) {
	/*MENU*/
	.menu.show .main-menu a li {
		line-height: 20px;
		font-size: 40px;
	}

	/*HOME*/
	.home-bottom .home-bottom-text h1{
		font-size: 40px;
		line-height: 50px;
	}

	.home-bottom .home-bottom-text p{
		font-size: 18px;
		line-height: 30px;
	}

	/*ABOUT FIRST*/
	.about-first .about-first-text{
		row-gap: 1rem;
	}
	.about-first .about-first-text h1{
		font-weight: 800;
		font-size: 40px;
		line-height: 40px;
	}
	
	.about-first .about-first-text h4{
		font-size: 24px;
		line-height: 30px;
		padding: 0 20rem;
	}
	.about-first .about-first-button{
		padding-bottom: 4rem;
	}
	
	.about-first .about-first-button a{
		padding: 3rem 3rem;
	}
	.about-first .about-first-button span{
		height: 20px;
		width: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.about-first .about-first-text .newsletter-form {
		padding-top: 5rem;
	}
	
	.about-first .about-first-text .newsletter-form .form-control {
		position: relative;
		margin: 20px 0 10px;
		width: 300px;
	  }
	  
	.about-first .about-first-text .newsletter-form  .form-control .input {
		font-size: 14px;
		height: 50px;
		padding: 1rem 2rem;
	}
	  
	.about-first .about-first-text .newsletter-form .form-control .btn {
		font-size: 18px;
		height: 50px;
		padding: 1rem 3rem;
	}
	.about-first-img {
		bottom: 16rem;
		width: 300px;
		left: 6rem;
	}
	.about-second-img {
		bottom: 16rem;
		width: 300px;
	}
	/*ABOUT SECOND*/
	.about-second .about-second-text{
		padding: 10rem 35rem 4rem;
	}
	.about-second .about-second-text h1{
		font-size: 40px;
		line-height: 40px;
	}
	.about-second .about-second-text h4{
		font-size: 34px;
		line-height: 34px;
	}
	
	.about-second .about-second-text p{
		font-size: 14px;
		line-height: 16px;
	}
	.about-second .about-second-button{
		padding-bottom: 2rem;
	}
	
	.about-second .about-second-button a{
		padding: 3rem 3rem;
	}
	.about-second .about-second-button a span {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20px;
		width: 20px;
	}
	.about-second .about-second-text .text-wrapper {
		row-gap: 1rem;
		padding: 2rem 6rem 0;
	}
	.about-second-phone {
		bottom: 15rem;
		width: 250px;
		left: 10rem;
	}
	.about-second-tv {
		bottom: 28rem;
		right: 6rem;
		width: 250px;
	}
	/*ABOUT THIRD*/
	
	.about-third .about-third-text{
		padding: 10rem 35rem 4rem;
	}
	.about-third .about-third-text h1{
		font-size: 40px;
		line-height: 40px;
	}

	.about-third .about-third-text p{
		font-size: 24px;
		line-height: 30px;
	}
	.about-third .about-third-button{
		padding-bottom: 2rem;
	}

	.about-third .about-third-button a{
		padding: 3rem 3rem;
	}
	.about-third .about-third-button a span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
	}
	.about-third .carousel img{
		height: auto;
		width: 220px;
	}
	.about-third .wrapper{
		padding: 0 21rem 4rem;
	}
	.about-third .carousel__control--backward {
		left: 8rem;
	}
	.about-third .carousel__control--forward {
		right: 8rem;
	}
	.about-third .carousel__control svg {
		width: 80px;
    	height: auto;
	}
	.about-third .carousel .team-item .team-more {
		font-size: 20px;
	}
	.about-third .carousel .team-item .team-more .position{
		font-size: 16px;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 500px       */
/* ********************************** */
@media (max-width: 500px) {
	.loader img{
		width: 300px;
	}

	header .logo {
		margin-left: 10px;
	}

	header .menu-icon {
		margin-right: 10px;
	}

	header .menu-icon .section-title {
		font-size: 22px;
		padding: 0 1rem;
	}

	header .menu-icon svg {
		width: 28px;
	}

	/*Menu*/
	.menu.show {
		padding: 12rem 2rem;
	}	
	
	.menuItems {
		flex-direction: column;
		row-gap: 2rem;
	}
	.menuItems .social-buttons{
    	align-items: start;
	}
	.menuItems .social-buttons div{
		flex-direction: column;
    	row-gap: 2rem;
	}
		
	
	.menuItems .social-buttons a li{
		line-height: 20px;
		font-size: 20px;
	}
	.menu.show .contact-block {
		height: 20%;
		justify-content: start;
	}
	.menu.show .contact-block a li{
		line-height: 24px;
		font-size: 24px;
	}
	/*  ABOUT FIRST  */
	.about-first .about-first-text{
		padding: 12rem 4rem;
		}
	.about-first .about-first-text h1{
		font-size: 32px;
		line-height: 32px;
	}

	.about-first .about-first-text h4{
		font-size: 20px;
		line-height: 28px;
		padding: 0
	}
	.about-first .about-first-button{
		padding-bottom: 2rem;
	}

	.about-first .about-first-button a{
		padding: 2rem 2rem;
	}

	.about-first .about-first-text .newsletter-form .form-control {
		margin: 10px 0 10px;
		width: 250px;
	}
  
	.about-first .about-first-text .newsletter-form  .form-control .input {
		font-size: 14px;
		height: 40px;
		padding: 1rem 1rem;
	}
  
	.about-first .about-first-text .newsletter-form .form-control .btn {
		font-size: 14px;
		height: 40px;
		padding: 1rem 1rem;
	}
	.about-first .about-first-text .newsletter-form {
		padding-top: 2rem;
	}
	.about-first-img {
		bottom: 24rem;
		width: 150px;
		left: 1rem;
	}
	.about-second-img {
		bottom: 24rem;
		width: 150px;
		right: 1rem;
	}

	/* ABOUT SECOND   */
	.about-second .about-second-text{
		padding: 12rem 4rem 1rem;
		justify-content: start;
	}
	.about-second .about-second-text h1{
		font-size: 28px;
		line-height: 32px;
	}
	.about-second .about-second-text h4{
		font-size: 20px;
		line-height: 28px;
	}
	.about-second .about-second-text p{
		font-size: 12px;
		line-height: 14px;
	}
	.about-second .about-second-button{
		padding-bottom: 2rem;
	}

	.about-second .about-second-button a{
		padding: 2rem 2rem;
	}
	.about-second .about-second-text .text-wrapper {
		row-gap: 0.25rem;
		padding: 0;
	}
	.about-second-phone {
		bottom: 10rem;
		width: 120px;
		left: 1rem;
	}
	.about-second-tv {
		bottom: 8rem;
		right: 1rem;
		width: 120px;
	}
	/*  ABOUT THIRD  */
	.about-third .about-third-text{
		padding: 12rem 4rem 0rem;
		row-gap: 2rem;
	}
	.about-third .about-third-text h1{
		font-size: 32px;
		line-height: 34px;
	}

	.about-third .about-third-text p{
		font-size: 20px;
		line-height: 28px;
	}
	.about-third .about-third-button{
		padding-bottom: 2rem;
	}

	.about-third .about-third-button a{
		padding: 2rem 2rem;
	}
	/*Carousel*/
	.about-third .wrapper{
		padding: 0 3rem 6rem;
		margin-bottom: 6rem;
	}
	.about-third .carousel__control--backward {
		left: 0.5rem;
	}
	.about-third .carousel__control--forward {
		right: 0.5rem;
	}
	.about-third .carousel img{
		height: auto;
		width: 100px;
	}  
	.about-third .carousel .team-item{
		margin-left: 10px;
	}
	.about-third .carousel .team-item .team-more {
		bottom: 2rem;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
		color: #fff;
		font-size: 8px;
	}
	.about-third .carousel .team-item .team-more .position{
		font-size: 8px;
	}
	.about-third .carousel__control svg {
		width: 30px;
	}
}